*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navBar{
    background-color: #1C6DD0;
}
nav{
    color: white;
    display: flex;
    justify-content: space-between;
    width: 80%;
    padding: 20px;

    h1{
        font-family: 'zrnic-rg';
    }

    ul{
        display: flex;
        justify-content: space-around;
        width: 70%;
        align-items: center;

        li{
            width: 4em;
            cursor: pointer;
            list-style: none;
            font-family: 'Montserrat', sans-serif;
            justify-content: center;
            align-items: center;
            font-style: bold;
            text-decoration: underline;
        }
    }

}
.sectionMain{
    display: -ms-grid;
    display: grid;
    min-height: 40vh;
    grid-template-columns: 10% repeat(3,1fr) 10%;
    grid-template-rows: 1fr 2fr 1fr;
    background-image: linear-gradient(to bottom right, white,skyblue);


    .ps4Logo{
        grid-column: 2/4;
        width: 45%;
    }
    .ps4Image{
        height:auto;
        width: 135%;
        align-items: center;
        grid-column: 3/4;
        grid-row: 2/4;
    }
    h3{
        font-family: 'Monsterrat', sans-serif, Helvetica;
        grid-row: 3/4;
        grid-column: 4/5;
        font-size: 18pt;
    }


}
.secondarySection{
    padding: 8em;
    display: flex;
    .description{
        padding: 10px 25px;
        height: 50%;
        justify-content: center;

        p{
            font-family: 'Monsterrat', Helvetica, sans-serif;
            font-size: 16pt;
            margin-bottom: 20px;
        }
    }
    .ps4secondaryImage{
        width: 60%;
    }
    .featureList{
        display: inline-block;
        padding: 20px;
        height: 80%;

        li{
            padding: 10px 20px;
            margin-bottom: 10px;
            justify-content: space-between;
            border: 2px solid darkblue;
            border-radius: 8px;
            list-style: none;
        }
    }
}